<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">ホーム</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li><a href="{% url 'post_index' %}">トーク画面</a></li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'user_edit' %}">{{ user.username }}さんようこそ</a></li>
        <li><a href="{% url 'getlogout' %}">ログアウト</a></li>
        {% else %}
        <li><a href="{% url 'getlogin' %}">ログイン</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
